.navBarButton {
  display: block;
  border: 0;
  padding: 0.2rem 1rem;
  border-radius: 100vh;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
  color: var(--color-grape-0);
  background-color: transparent;
  line-height: 1.75;
  cursor: pointer;
}

.navBarButton:hover {
  color: var(--color-grape-9);
  background-color: var(--color-grape-0);
}

.navBarButton:active {
  color: var(--color-grape-0);
  background-color: var(--color-grape-6);
}