.layoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-grape-0);
}

.layoutHeader {
  display: block;
  background-color: var(--color-grape-9);
  color: var(--color-graper-0);
  padding: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.layoutSubHeader {
  display: block;
  background-color: var(--color-violet-9);
  color: var(--color-violet-0);
  padding: 0.5rem 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.layoutMain {
  margin: 1rem auto 0;
  padding: 1rem;
  max-width: 1800px;
  width: 100%;
  flex-grow: 1;
  background-color: var(--color-gray-0);
  color: var(--color-gray-9);
  border: 1px solid var(--color-gray-2);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.layoutFooter {
  display: block;
  background-color: var(--color-grape-9);
  color: var(--color-graper-0);
  padding: 1rem;
}