.iconToggle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100vw;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.iconToggle.on {
  fill: var(--grape-9);
}

.iconToggle.off {
  fill: var(--gray-7);
}

.iconToggle:hover
{
  background-color: var(--grape-1);
  fill: var(--grape-9);
}
.iconToggle:active {
  background-color: var(--grape-1);
  fill: var(--grape-9);
}