.iconButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100vw;
  fill: var(--gray-7);
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  /* background-color: var(--grape-1); */
}

.iconButton:hover,
.iconButton:active {
  background-color: var(--grape-1);
  fill: var(--grape-9);
}