.navigationBar {
  margin: 0 auto;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navBarList {
  padding-left: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  align-items: center;
}

.navBarListItem {
  list-style-type: none;
}

.title {
  color: white;
  display: inline;
  margin: 0;
}

.subNavBar {
  margin: 0 auto;
  max-width: 1800px;
}

.subNavBarList {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.subNavBarList.inverted {
  justify-content: flex-end;
}

.subNavBarListItem {
  list-style-type: none;
}