.canvasTestPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.canvas_1 {
  position: absolute;
  inset: 0;
  cursor: crosshair;
}

.frame {
  position: relative;
  flex-grow: 1;
  border: 1px solid var(--gray-3);
  min-height: 480px;
}

.colorPicker {
  margin-bottom: 1rem;
}