.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 2rem;
  padding: 0.25rem 3rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  border-radius: 100vw;
  border: none;
  background-color: var(--color-grape-9);
  color: var(--color-grape-0);
  cursor: pointer;
  font-weight: 500;
}

.button:hover,
.button:active {
  background-color: var(--color-grape-7);
}