.inputRange {
  -webkit-appearance: none;
  margin: auto 0;
  /* margin-right: 15px; */
  /* width: 200px; */
  height: 0.75rem;
  /* background: rgba(255, 255, 255, 0.6); */
  border-radius: 5px;
  background-image: linear-gradient(to right, var(--grape-0), var(--grape-9));
  /* background-size: 70% 100%;
  background-repeat: no-repeat; */
  border: 2px solid var(--gray-3);
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* background: #ccc; */
  cursor: ew-resize;
  /* box-shadow: 0 0 2px 0 #555; */
  /* transition: background .3s ease-in-out; */
}

.inputRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}